<div class='container text-center'>

  <div class="user_profile row">

    <div id="user_<%= @user.id %>" class="user_image col-md-5" %>
      <img src="<%= @user.image %>" alt="user_<%= @user.id %> image" class="img-responsive img-thumbnail">
    </div>

    <div class='user_detail col-md-7'>
      <h3>Hi! My name is <%= @user.first_name %>!</h3>
      <p>
        <strong>Name:
        <%= @user.first_name %> <%= @user.last_name %></strong>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @user.description %>
      </p>

      <p>
        <strong>Image:</strong>
        <%= @user.image %>
      </p>

      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
    </div>

  </div>





  <h1>Listing Courses</h1>

  <div class="courses row">
    <% @courses.each do |course| %>

      <div id="course_<%= course.id %>" class="course col-md-4" %>
        <%= link_to course do %><img src="<%= course.image %>" alt="course_<%= course.id %> image" class="img-responsive img-thumbnail"><% end %>
        <h4><%= link_to course.name, course %></h4>
        <p><%= course.category.name %></p>
        <p><%= course.city_name %></p>
        <br>
        <br>
      </div>

    <% end %>
  </div>

<!-- Pagination -->
  <div class="row text-center">
     <div class="col-lg-12">
         <ul class="pagination">
             <li>
                 <a href="#">&laquo;</a>
             </li>
             <li class="active">
                 <a href="#">1</a>
             </li>
             <li>
                 <a href="#">2</a>
             </li>
             <li>
                 <a href="#">3</a>
             </li>
             <li>
                 <a href="#">4</a>
             </li>
             <li>
                 <a href="#">5</a>
             </li>
             <li>
                 <a href="#">&raquo;</a>
             </li>
         </ul>
     </div>
  </div>

<!-- End of container -->
</div>
