<div class='container text-center'>
  <div class='container text-center'>
    
    <div class="course_profile row">
    
      <div id="course_<%= @course.id %>" class="course_image col-md-5" %>
        <img src="<%= @course.image %>" alt="course_<%= @course.id %> image" class="img-responsive img-thumbnail">    
      </div>

      <div class='course_detail col-md-7'>
        <h3><%= @course.name %></h3>
        <p>
          <strong>Category:
          <%= @course.category.name %> </strong>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @course.description %>
        </p>

        <p>
          <strong>Image:</strong>
          <%= @course.image %>
        </p>

        <%= link_to 'Edit', edit_course_path(@course) %> |
        <%= link_to 'Back', courses_path %>
      </div>
      
    </div>


    


    <h1>Listing events</h1>

    <div class="events row">
      <% @events.each do |event| %>
      
        <div id="event_<%= event.id %>" class="event col-md-4" %>
          <%= link_to event.course do %><img src="<%= event.course.image %>" alt="event_<%= event.id %>_course image" class="img-responsive img-thumbnail"><% end %>
          <h4><%= link_to event.id, course_event_path(@course, event) %></h4>
          <p><%= event.course.name %></p>
          <p><%= event.course.city_name %></p>
          <br>
          <br>
        </div>

      <% end %>
    </div>

  <!-- Pagination -->
    <div class="row text-center">
       <div class="col-lg-12">
           <ul class="pagination">
               <li>
                   <a href="#">&laquo;</a>
               </li>
               <li class="active">
                   <a href="#">1</a>
               </li>
               <li>
                   <a href="#">2</a>
               </li>
               <li>
                   <a href="#">3</a>
               </li>
               <li>
                   <a href="#">4</a>
               </li>
               <li>
                   <a href="#">5</a>
               </li>
               <li>
                   <a href="#">&raquo;</a>
               </li>
           </ul>
       </div>
    </div>

  <!-- End of container -->  
  </div>


  <div>
    <h1>Listing Events</h1>

    <table class='table table-hover text-center'>
      <thead>
        <tr>
          <th class='text-center'>Start time</th>
          <th class='text-center'>End time</th>
          <th class='text-center'>Course</th>
          <th class='text-center' colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.start_time %></td>
            <td><%= event.end_time %></td>
            <td><%= event.course.name %></td>
            <td><%= link_to 'Show', course_event_path(@course, event) %></td>
            <td><%= link_to 'Edit', edit_course_event_path(@course, event) %></td>
            <td><%= link_to 'Destroy', [@course, event], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Event', new_course_event_path(@course) %>
  </div>

<!-- End of container -->
</div>
