<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Course Name", :class => "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.text_field :city_name, :placeholder => "City Name", :class => "form-control"  %>
  </div>
   <div class="field">
    <%= f.text_field :image, :placeholder => "Your Image", :class => "form-control"  %>
  </div>
  <div class="field">
    <%= f.text_area :description, :placeholder => "Description", :class => "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit "Create Course", class: "btn-login"  %>
  </div>
<% end %>
