<div class='container text-center'>
  <%= render 'courses/table' %>

  <%= link_to 'New Course', new_course_path %>

  <div class="courses row">
    <% @courses.each do |course| %>
    
      <div id="course_<%= course.id %>" class="course col-md-4" %>
        <%= link_to course do %><img src="<%= course.image %>" alt="course_<%= course.id %> image" class="img-responsive img-thumbnail"><% end %>
        <h4><%= link_to course.name, course %></h4>
        <p><%= course.category.name %></p>
        <p><%= course.city_name %></p>
        <br>
        <br>
      </div>

    <% end %>
  </div>

  <!-- Pagination -->
  <div class="row text-center">
     <div class="col-lg-12">
         <ul class="pagination">
             <li>
                 <a href="#">&laquo;</a>
             </li>
             <li class="active">
                 <a href="#">1</a>
             </li>
             <li>
                 <a href="#">2</a>
             </li>
             <li>
                 <a href="#">3</a>
             </li>
             <li>
                 <a href="#">4</a>
             </li>
             <li>
                 <a href="#">5</a>
             </li>
             <li>
                 <a href="#">&raquo;</a>
             </li>
         </ul>
     </div>
  </div>

<!-- End of container -->  
</div>
