<!DOCTYPE html>
<head>
  <title>{ko}Learn</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>

  <% if current_page?('/') %>
    <!-- Header nav for all other pages -->
    <%= render 'layouts/nav' %>
  <% else %>
        <!-- Header nav for all other pages -->
    <%= render 'layouts/nav_root' %>
  <% end %>

  <%= render 'layouts/notice' %>
  
  
  
  



  <!-- Main section -->
  <%= yield %>
    

  <!-- Footer Area-->
  <%= render 'layouts/footer' %>


  <!-- Script -->    
  <script src="http://s3.amazonaws.com/codecademy-content/projects/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
</body>
</html>
